body {
  background-color: LightPink;
  font-size: 100%;
}

h1 {
  font-family: Georgia, serif;
  text-shadow: 2px 2px 5px DeepSkyBlue;
}

h2 {
  font-family: Georgia, serif;
  padding-left: 20px;
  color: White;
  text-shadow: 1px 2px 5px Black;
}

p {
  padding-left: 50px;
  color: Black;
  font-family: Veranda, sans-serif;
  font-size: 1.1em;
  text-shadow: 1px 3px 5px MediumSlateBlue;
}